/* input[type="checkbox"]:checked body{
    background-color: #202020;
} */
:root:has(.mode:checked) .modes .light{
    display: inline-block;
}
:root:has(.mode:checked) .modes .dark{
    display: none;
}
:root:has(.mode:checked) body{
    background-color: #202020;
    --heading-color:#fff;
    --main--color:#fff;
    --second-color:#7f7f90;
    --third-color:rgb(193, 126, 31);
    --background-gray:#252525;
    --hover-color:rgb(189, 126, 38);
    --forth-color:#9f9f9f;
    --color-white:#9f9f9f;
}
:root:has(.mode:checked) nav{
    background-color: #252525;
    color: var(--main--color);
}
body:has(.mode:checked) .card-img::after{
    background-image: url(../images/team-shape-dark.svg);
}

body:has(.mode:checked) .chefs .card{
    background-color: #161616;
}
body:has(.mode:checked) form{
    background-color: #252525;
}